#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  min-height: 100vh; /* Ensure the root takes at least the full height of the viewport */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  //background: url(assets/background_tb.jpg);
  //background-size: cover;
  background: rgb(0,36,30);
  background: linear-gradient(90deg, rgba(0,36,30,0.6768908246892507) 0%, rgba(52,167,175,0.6600841020001751) 61%);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}